@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  color: white;
  font-family: Inter, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #7c3aed;
  border-radius: 10px;
}

.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    #a855f7,
    #38bdf8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
